<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.salesforce.bazel.consolefactory" name="Bazel Console Factory" schema="schema/com.salesforce.bazel.consolefactory.exsd"/>

   <extension
         id="com.salesforce.bazel.eclipse.bazelNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.salesforce.bazel.eclipse.BazelNature">
         </run>
      </runtime>
   </extension>

   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.salesforce.bazel.eclipse.classpath.BazelClasspathContainerInitializer"
            id="com.salesforce.bazel.eclipse.BAZEL_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.salesforce.bazel.eclipse.classpath.BazelClasspathContainerInitializer"
            id="com.salesforce.bazel.eclipse.BAZEL_GLOBAL_SEARCH_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="com.salesforce.bazel.consolefactory">
      <commandConsoleFactory
            class="com.salesforce.bazel.sdk.console.StandardCommandConsoleFactory"
            priority="100">
      </commandConsoleFactory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.salesforce.bazel.eclipse.preferences.BazelPreferenceInitializer">
      </initializer>
   </extension>

   <extension id="com.salesforce.bazel.eclipse.bazelmarker"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker"/>
         <persistent value="false"/>
    </extension>

   <extension
         id="com.salesforce.bazel.eclipse.builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="com.salesforce.bazel.eclipse.builder.BazelBuilder">
         </run>
      </builder>
   </extension>

   <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
        id="org.eclipse.jdt.ui.IJavaElementTypeExtender"
        type="org.eclipse.jdt.core.IJavaElement"
        namespace="com.salesforce.bazel.eclipse"
        properties="isTestJavaElement"
        class="com.salesforce.bazel.eclipse.util.JavaElementPropertyTester">
     </propertyTester>
   </extension>
</plugin>
