<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
   <extension-point id="com.salesforce.bazel.eclipse.core.executor" name="Bazel Command Executor" schema="schema/com.salesforce.bazel.eclipse.core.executor.exsd"/>
   <extension-point id="com.salesforce.bazel.eclipse.core.model.target.discovery" name="Bazel Target Discovery and Provisioning Strategies Extensions" schema="schema/com.salesforce.bazel.eclipse.core.model.target.discovery.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.salesforce.bazel.eclipse.preferences.BazelPreferenceInitializer">
      </initializer>
   </extension>

   <extension
         id="com.salesforce.bazel.eclipse.bazelNature"
         name="Bazel Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.salesforce.bazel.eclipse.core.model.BazelProject">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="com.salesforce.bazel.eclipse.builder">
      </builder>
   </extension>

   <extension
         id="com.salesforce.bazel.eclipse.builder"
         name="Bazel Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="com.salesforce.bazel.eclipse.core.builder.BazelProjectBuilder">
         </run>
         <dynamicReference
               class="com.salesforce.bazel.eclipse.core.resources.BazelProjectReferencesProvider">
         </dynamicReference>
      </builder>
   </extension>

   <extension
         id="problem"
         name="Bazel Problem"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker"/>
         <super type="org.eclipse.core.resources.textmarker"/>
         <persistent value="true"/>
   </extension>
   <extension
         id="buildpath_problem"
         name="Bazel Build Path Problem"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker"/>
         <super type="org.eclipse.core.resources.textmarker"/>
         <persistent value="true"/>
   </extension>
   <extension
         id="transient_problem"
         name="Transient Bazel Problem"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.textmarker"/>
         <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.core.resources.filterMatchers">
      <filterMatcher
            argumentType="none"
            class="com.salesforce.bazel.eclipse.core.resources.BazelOutputFilterMatcher"
            description="Filters the Bazel output symlinks from the workspace project."
            id="com.salesforce.bazel.eclipse.core.resources.filter.bazelOutputMatcher"
            name="Bazel Output Symlinks"
            ordering="first">
      </filterMatcher>
   </extension>

   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.salesforce.bazel.eclipse.core.classpath.BazelClasspathContainerInitializer"
            id="com.salesforce.bazel.eclipse.BAZEL_CONTAINER">
      </classpathContainerInitializer>
   </extension>

   <extension
         point="com.salesforce.bazel.eclipse.core.model.target.discovery">
      <targetDiscoveryStrategy
            class="com.salesforce.bazel.eclipse.core.model.discovery.BazelQueryTargetDiscovery"
            name="bazel-query">
      </targetDiscoveryStrategy>
      <targetProvisioningStrategy
            class="com.salesforce.bazel.eclipse.core.model.discovery.ProjectPerTargetProvisioningStrategy"
            name="project-per-target">
      </targetProvisioningStrategy>
      <targetProvisioningStrategy
            class="com.salesforce.bazel.eclipse.core.model.discovery.ProjectPerPackageProvisioningStrategy"
            name="project-per-package">
      </targetProvisioningStrategy>
      <targetProvisioningStrategy
            class="com.salesforce.bazel.eclipse.core.model.discovery.BuildFileAndVisibilityDrivenProvisioningStrategy"
            name="build-file-and-visibility-driven">
      </targetProvisioningStrategy>
      <macroCallAnalyzer
            class="com.salesforce.bazel.eclipse.core.model.discovery.analyzers.JavaBinaryAnalyzer"
            functionName="java_binary"
            priority="10">
      </macroCallAnalyzer>
      <macroCallAnalyzer
            class="com.salesforce.bazel.eclipse.core.model.discovery.analyzers.JavaLibraryAnalyzer"
            functionName="java_library"
            priority="10">
      </macroCallAnalyzer>
      <macroCallAnalyzer
            class="com.salesforce.bazel.eclipse.core.model.discovery.analyzers.JavaTestAnalyzer"
            functionName="java_test"
            priority="10">
      </macroCallAnalyzer>
      <macroCallAnalyzer
            class="com.salesforce.bazel.eclipse.core.model.discovery.analyzers.JavaTestSuiteAnalyzer"
            functionName="java_test_suite"
            priority="10">
      </macroCallAnalyzer>
      <macroCallAnalyzer
            class="com.salesforce.bazel.eclipse.core.model.discovery.analyzers.JavaJunit5TestAnalyzer"
            functionName="java_junit5_test"
            priority="10">
      </macroCallAnalyzer>
   </extension>
   <extension
         point="com.salesforce.bazel.eclipse.core.executor">
      <commandExecutor
            class="com.salesforce.bazel.eclipse.core.extensions.EclipseHeadlessBazelCommandExecutor"
            priority="10">
      </commandExecutor>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.runtimeClasspathEntryResolvers">
      <runtimeClasspathEntryResolver
            class="com.salesforce.bazel.eclipse.core.classpath.BazelClasspathContainerRuntimeResolver"
            container="com.salesforce.bazel.eclipse.BAZEL_CONTAINER"
            id="com.salesforce.bazel.eclipse.core.classpath.launching.runtimeResolver">
      </runtimeClasspathEntryResolver>
   </extension>
</plugin>
