<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.salesforce.bazel.projectmanager" name="Bazel Project Manager" schema="schema/com.salesforce.bazel.projectmanager.exsd"/>
   <extension-point id="com.salesforce.bazel.resourcehelper" name="Eclipse Bazel Resource Helper" schema="schema/com.salesforce.bazel.resourcehelper.exsd"/>
   <extension-point id="com.salesforce.bazel.javacorehelper" name="Bazel Java Core Helper" schema="schema/com.salesforce.bazel.javacorehelper.exsd"/>
   <extension
         id="com.salesforce.bazel.eclipse.bazelNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.salesforce.bazel.eclipse.BazelNature">
         </run>
      </runtime>
   </extension>

</plugin>
