# Build Configuration File



# WORKSPACE settings go here (applied to ALL build envs)
# These are standardized by the feature commiters as required for all builds.
import .base-bazelrc


# Company environment settings (i.e. your company internal settings) go here
# It is assumed that you will distribute this file internally if you have multiple
# devs working on the Bazel Eclipse Feature
import .company-bazelrc


# Anything you would like to personally override goes here
import .user-bazelrc


# Remote cache settings
# We find it useful to have cache settings separate from the .user-bazelrc
import .user-bazelrc-cache
