# compile output
bin/
target/


# Log files
*.log

# Built Artifacts
*.zip
*.tar.gz
*.rar
*.class
bin
testbin
dist

# Eclipse
eclipse.sh

# OS
.DS_Store

# Eclipse cleaner script (//tools/eclipse)
my_env.sh

# temp. files
*~
*.rej
*.bak
.DS_Store
.Trashes
*.swp
*.lock
pom.versionBackup
pom.tycho
.polyglot.*
.META_INF_MANIFEST.MF
.META-INF_MANIFEST.MF

# other
*.patch