# Bazel
bazel-bin
bazel-genfiles
bazel-out
bazel-sfdc-bazel
bazel-testlogs
bazel-bazel-eclipse

# Bazel config files
.company-bazelrc
.user-bazelrc
.user-bazelrc-cache

# Log files
*.log

# Built Artifacts
*.zip
*.tar.gz
*.rar
*.class
bin
testbin
dist

# Eclipse
.settings
eclipse.sh

# OS
.DS_Store

# Eclipse cleaner script (//tools/eclipse)
my_env.sh
