<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.salesforce.bazel.eclipse.classpath.BazelClasspathContainerInitializer"
            id="com.salesforce.bazel.eclipse.BAZEL_CONTAINER">
      </classpathContainerInitializer>
   </extension>
      <extension
         id="importers"
         point="org.eclipse.jdt.ls.core.importers">
         <importer
            id = "bazelProjectImporter"
            order ="500"
            class = "com.salesforce.b2eclipse.managers.BazelProjectImporter"/>
   </extension>
   <extension
   		 id="buildSupporter"
         point="org.eclipse.jdt.ls.core.buildSupport">
         <buildSupport
         	id="bazelSupport"
         	order="500"
         	class="com.salesforce.b2eclipse.managers.BazelBuildSupport" />
   </extension>
   <extension
         point="com.salesforce.bazel.projectmanager">
      <projectManager
            class="com.salesforce.bazel.eclipse.config.EclipseBazelProjectManager">
      </projectManager>
   </extension>
   <extension
         point="com.salesforce.bazel.resourcehelper">
      <resourceHelper
            class="com.salesforce.bazel.eclipse.runtile.impl.BjlsEclipseResourceHelper">
      </resourceHelper>
   </extension>
   <extension
         point="com.salesforce.bazel.javacorehelper">
      <javaCoreHelper
            class="com.salesforce.bazel.eclipse.runtime.impl.EclipseJavaCoreHelper">
      </javaCoreHelper>
   </extension>
   <extension
         point="com.salesforce.bazel.aspectlocation">
      <bazelAspectLocation
            class="com.salesforce.b2eclipse.config.DefaultEclipseAspectLocationImpl">
      </bazelAspectLocation>
   </extension>
</plugin>
