<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.salesforce.bazel.scipls.app.server"
         name="SCIP based Bazel Language Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.salesforce.bazel.scipls.app.ServerApplication">
         </run>
      </application>
   </extension>

</plugin>
