<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="bazel-eclipse-feature-target-platform" sequenceNumber="1715106709">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.31.0.v20240227-1638"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.2.v20231021-2127"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1900.v20230715-1945"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.702.v20231114-1017"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.402.v20231021-2127"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.31.0.v20231210-0956"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.37.0.v20240203-0859"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.15.0.v20240214-0846"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.25.0.v20240214-0846"/>
      <unit id="org.eclipse.equinox.executable" version="3.8.2400.v20240213-1244"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2400.v20240213-1244"/>
      <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.7.100.v20240220-1431"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.3.300.v20240201-0843"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1100.v20240218-1855"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.19.400.v20240229-0520"/>
      <unit id="org.eclipse.platform.feature.group" version="4.31.0.v20240229-1022"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.31.0.v20240229-0520"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.31.0.v20240229-1022"/>
      <unit id="org.eclipse.sdk.ide" version="4.31.0.I20240229-0520"/>
      <unit id="org.eclipse.test" version="3.6.0.v20231226-0952"/>
      <unit id="org.eclipse.jface.text.tests" version="3.13.400.v20240205-1417"/>
      <unit id="org.eclipse.text.tests" version="3.14.400.v20240205-1417"/>
      <unit id="org.eclipse.test.feature.group" version="3.8.800.v20240217-1736"/>
      <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.7"/>
      <unit id="org.objectweb.asm" version="9.6.0"/>
      <unit id="org.objectweb.asm.commons" version="9.6.0"/>
      <unit id="org.objectweb.asm.tree" version="9.6.0"/>
      <unit id="org.objectweb.asm.tree.analysis" version="9.6.0"/>
      <unit id="org.objectweb.asm.util" version="9.6.0"/>
      <repository location="https://download.eclipse.org/eclipse/updates/4.31/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="slf4j.api" version="2.0.12"/>
      <unit id="ch.qos.logback.core" version="1.5.0"/>
      <unit id="ch.qos.logback.classic" version="1.5.0"/>
      <unit id="jakarta.servlet-api" version="5.0.0"/>
      <unit id="jakarta.servlet-api" version="6.0.0"/>
      <unit id="com.google.errorprone.annotations" version="2.25.0"/>
      <unit id="com.google.gson" version="2.10.1"/>
      <unit id="com.google.guava" version="33.0.0.jre"/>
      <unit id="com.google.guava.failureaccess" version="1.0.2"/>
      <unit id="com.google.javascript" version="0.0.20231112.v20231114-0833"/>
      <unit id="org.apache.commons.lang3" version="3.14.0"/>
      <unit id="org.apache.xerces" version="2.12.2.v20230928-1306"/>
      <unit id="org.apache.xalan" version="2.7.2.v20230928-1302"/>
      <unit id="org.hamcrest" version="2.2.0"/>
      <unit id="org.mockito.junit-jupiter" version="5.10.0"/>
      <unit id="org.mockito.mockito-core" version="5.10.0"/>
      <unit id="org.jdom" version="1.1.3.v20230812-1600"/>
      <unit id="org.jdom2" version="2.0.6.v20230720-0727"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2024-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.ls.core" version="1.35.0.202404251256"/>
      <repository location="https://download.eclipse.org/jdtls/milestones/1.35.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.xtext.xbase.lib" version="2.34.0.v20240227-0940"/>
      <unit id="org.eclipse.tm4e.feature.feature.group" version="0.10.3.202403041840"/>
      <repository location="https://download.eclipse.org/releases/2024-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.22.0.v20240213-2013"/>
      <repository location="https://download.eclipse.org/lsp4j/updates/releases/0.22.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.6.0.20240220-1109"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.6.0.20240217-1525"/>
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.6.0.20240220-1109"/>
      <repository location="https://download.eclipse.org/technology/m2e/releases/2.6.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.wildwebdeveloper.xml.feature.feature.group" version="1.3.2.202403191205"/>
      <repository location="https://download.eclipse.org/wildwebdeveloper/releases/1.3.4/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.buildship.feature.group" version="3.1.9.v20240116-1334"/>
      <repository location="https://download.eclipse.org/buildship/updates/e423/releases/3.x/3.1.9.v20240116-1334/"/>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="MavenDependencies">
      <feature id="com.salesforce.bazel.eclipse.dependencies.feature" label="Third-Party Dependencies used by the Bazel Eclipse Feature" provider-name="" version="2.0.0.qualifier">
      </feature>
      <dependencies>
        <dependency>
          <groupId>com.github.ben-manes.caffeine</groupId>
          <artifactId>caffeine</artifactId>
          <version>3.1.8</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.protobuf</groupId>
          <artifactId>protobuf-java</artifactId>
          <version>3.25.3</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.googlecode.json-simple</groupId>
          <artifactId>json-simple</artifactId>
          <version>1.1.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.fusesource.jansi</groupId>
          <artifactId>jansi</artifactId>
          <version>2.4.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.code.findbugs</groupId>
          <artifactId>jsr305</artifactId>
          <version>3.0.2</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.auto.value</groupId>
          <artifactId>auto-value</artifactId>
          <version>1.10.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>com.google.auto.value</groupId>
          <artifactId>auto-value-annotations</artifactId>
          <version>1.10.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>jakarta.servlet</groupId>
          <artifactId>jakarta.servlet-api</artifactId>
          <version>5.0.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.commons</groupId>
          <artifactId>commons-configuration2</artifactId>
          <version>2.10.1</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.commons</groupId>
          <artifactId>commons-text</artifactId>
          <version>1.12.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
