<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="bazel-eclipse-feature-target-platform-for-development" sequenceNumber="1679571015">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.27.0.v20230220-1431"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20211005-1944"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20210409-2301"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20220215-0126"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.701.v20221112-0806"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.29.0.v20230223-0922"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.31.0.v20230226-0921"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.13.1000.v20230220-1352"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.23.700.v20230220-1352"/>
      <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.6.1700.v20230120-0604"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.700.v20230220-1352"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.1200.v20221111-1340"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.27.0.v20230302-0300"/>
      <unit id="org.eclipse.rcp.sdk.id" version="4.27.0.I20230302-0300"/>
      <unit id="org.eclipse.sdk.ide" version="4.27.0.I20230302-0300"/>
      <unit id="org.eclipse.test.feature.group" version="3.8.400.v20230219-1319"/>
      <unit id="org.eclipse.equinox.executable" version="3.8.2000.v20221201-0912"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2000.v20221201-0912"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.19.0.v20230302-0300"/>
      <unit id="org.eclipse.platform.feature.group" version="4.27.0.v20230302-0300"/>
      <unit id="org.eclipse.test" version="3.5.200.v20221108-0804"/>
      <unit id="org.eclipse.jface.text.tests" version="3.13.0.v20230203-1344"/>
      <unit id="org.eclipse.text.tests" version="3.13.200.v20221027-2026"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.27.0.v20230302-0300"/>
      <repository location="https://download.eclipse.org/eclipse/updates/4.27/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.google.gson" version="2.10.1.v20230109-0753"/>
      <unit id="com.google.guava" version="30.1.0.v20221112-0806"/>
      <unit id="com.google.javascript" version="0.0.20160315.v20161124-1903"/>
      <unit id="com.google.protobuf" version="2.4.1.v20220404-1934"/>
      <unit id="org.apache.commons.lang3" version="3.12.0.v20221221-1931"/>
      <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
      <unit id="org.apache.xerces" version="2.12.2.v20220131-0835"/>
      <unit id="org.apache.xalan" version="2.7.2.v20221112-0806"/>
      <unit id="org.slf4j.api" version="1.7.30.v20221112-0806"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230302014618/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.ls.core" version="1.21.0.202303161431"/>
      <repository location="https://download.eclipse.org/jdtls/milestones/1.21.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.mockito.mockito-all" version="1.9.5"/>
      <repository location="https://download.eclipse.org/scout/releases/4.0/testing"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.20.1.v20230228-1533"/>
      <repository location="https://download.eclipse.org/lsp4j/updates/releases/0.20.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.1.2.20221130-2239"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.1.0.20221015-0744"/>
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.1.2.20221130-2239"/>
      <repository location="https://download.eclipse.org/technology/m2e/releases/2.1.2/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.buildship.feature.group" version="3.1.6.v20220511-1359"/>
      <repository location="https://download.eclipse.org/buildship/updates/e423/releases/3.x/3.1.6.v20220511-1359/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="6.5.0.202303070854-r"/>
      <unit id="org.eclipse.jgit.feature.group" version="6.5.0.202303070854-r"/>
      <unit id="org.eclipse.jgit.http.apache.feature.group" version="6.5.0.202303070854-r"/>
      <unit id="org.eclipse.jgit.ssh.apache.feature.group" version="6.5.0.202303070854-r"/>
      <unit id="org.eclipse.egit.gitflow.feature.feature.group" version="6.5.0.202303070854-r"/>
      <repository location="https://download.eclipse.org/egit/updates/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.24.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.33.0.v20230226-0921"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.15.0.202211301913"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.33.0.v20230211-1150"/>
      <unit id="org.eclipse.linuxtools.docker.feature.feature.group" version="5.10.0.202303072327"/>
      <unit id="org.eclipse.linuxtools.docker.editor.ls.feature.feature.group" version="5.10.0.202303072327"/>
      <unit id="org.eclipse.tm4e.feature.feature.group" version="0.5.2.202211261320"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.30.0.v20230227-1344"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.30.0.v20230227-1344"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.30.0.v20230227-1111"/>
      <repository location="https://download.eclipse.org/releases/2023-03/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="3.0.46.202301111837"/>
      <unit id="org.eclipse.mylyn.wikitext.editors_feature.feature.group" version="3.0.46.202301111837"/>
      <unit id="org.eclipse.mylyn.wikitext.sdk.feature.group" version="3.0.46.202301111837"/>
      <unit id="org.eclipse.mylyn.wikitext.markdown" version="3.0.46.202301111837"/>
      <unit id="org.eclipse.mylyn.wikitext.markdown.ui" version="3.0.46.202301111837"/>
      <repository location="https://download.eclipse.org/mylyn/docs/releases/3.0.46/"/>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,test" includeSource="true" missingManifest="generate" type="Maven" label="MavenDependencies">
    <dependencies>
    	<dependency>
    		<groupId>com.github.ben-manes.caffeine</groupId>
    		<artifactId>caffeine</artifactId>
    		<version>3.1.4</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.google.protobuf</groupId>
    		<artifactId>protobuf-java</artifactId>
    		<version>3.22.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.googlecode.json-simple</groupId>
    		<artifactId>json-simple</artifactId>
    		<version>1.1.1</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.fusesource.jansi</groupId>
    		<artifactId>jansi</artifactId>
    		<version>2.4.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.google.code.findbugs</groupId>
    		<artifactId>jsr305</artifactId>
    		<version>3.0.2</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
