<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="bazel-eclipse-feature-target-platform-for-development" sequenceNumber="1705191851">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.30.0.v20231113-1355"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.2.v20231021-2127"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1900.v20230715-1945"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.702.v20231114-1017"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.402.v20231021-2127"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.30.0.v20230916-0637"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.36.0.v20231002-1156"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.14.200.v20231110-1900"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.24.200.v20231110-1900"/>
      <unit id="org.eclipse.equinox.executable" version="3.8.2300.v20231106-1826"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2300.v20231106-1826"/>
      <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.7.0.v20231112-1314"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.3.200.v20231104-1339"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1000.v20231114-0937"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.19.300.v20231201-0110"/>
      <unit id="org.eclipse.platform.feature.group" version="4.30.0.v20231201-0512"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.30.0.v20231201-0512"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.30.0.v20231201-0512"/>
      <unit id="org.eclipse.sdk.ide" version="4.30.0.I20231201-0110"/>
      <unit id="org.eclipse.test" version="3.5.400.v20231108-0838"/>
      <unit id="org.eclipse.jface.text.tests" version="3.13.300.v20231023-1307"/>
      <unit id="org.eclipse.text.tests" version="3.14.200.v20231023-1307"/>
      <unit id="org.eclipse.test.feature.group" version="3.8.700.v20231108-0838"/>
      <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.3.7"/>
      <unit id="org.objectweb.asm" version="9.6.0"/>
      <unit id="org.objectweb.asm.commons" version="9.6.0"/>
      <unit id="org.objectweb.asm.tree" version="9.6.0"/>
      <unit id="org.objectweb.asm.tree.analysis" version="9.6.0"/>
      <unit id="org.objectweb.asm.util" version="9.6.0"/>
      <repository location="https://download.eclipse.org/eclipse/updates/4.30/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="slf4j.api" version="2.0.9"/>
      <unit id="ch.qos.logback.core" version="1.4.11"/>
      <unit id="ch.qos.logback.classic" version="1.4.11"/>
      <unit id="jakarta.servlet-api" version="5.0.0"/>
      <unit id="com.google.errorprone.annotations" version="2.23.0"/>
      <unit id="com.google.gson" version="2.10.1"/>
      <unit id="com.google.guava" version="32.1.3.jre"/>
      <unit id="com.google.guava.failureaccess" version="1.0.2"/>
      <unit id="com.google.javascript" version="0.0.20231112.v20231114-0833"/>
      <unit id="org.apache.commons.lang3" version="3.13.0"/>
      <unit id="org.apache.xerces" version="2.12.2.v20230928-1306"/>
      <unit id="org.apache.xalan" version="2.7.2.v20230928-1302"/>
      <unit id="org.hamcrest" version="2.2.0"/>
      <unit id="org.mockito.junit-jupiter" version="5.7.0"/>
      <unit id="org.mockito.mockito-core" version="5.7.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2023-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.ls.core" version="1.30.1.202312071447"/>
      <repository location="https://download.eclipse.org/jdtls/milestones/1.30.1/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.21.1.v20230829-0014"/>
      <repository location="https://download.eclipse.org/lsp4j/updates/releases/0.21.1/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.4.200.20231119-0901"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.2.1.20231113-2319"/>
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.5.0.20231119-0901"/>
      <repository location="https://download.eclipse.org/technology/m2e/releases/2.5.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.wildwebdeveloper.xml.feature.feature.group" version="1.3.1.202310310352"/>
      <repository location="https://download.eclipse.org/wildwebdeveloper/releases/1.3.3/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.buildship.feature.group" version="3.1.8.v20231117-1734"/>
      <repository location="https://download.eclipse.org/buildship/updates/e423/releases/3.x/3.1.8.v20231117-1734/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit.http.apache.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jgit.ssh.apache.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.gitflow.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/egit/updates/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.linuxtools.docker.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.linuxtools.docker.editor.ls.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.33.0.v20231121-0955"/>
      <unit id="org.eclipse.tm4e.feature.feature.group" version="0.6.1.202308132047"/>
      <repository location="https://download.eclipse.org/releases/2023-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext.editors_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext.markdown" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext.markdown.ui" version="0.0.0"/>
      <repository location="https://download.eclipse.org/mylyn/docs/releases/3.0.48/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="AnyEditTools.feature.group" version="0.0.0"/>
      <repository location="https://raw.githubusercontent.com/iloveeclipse/plugins/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.asciidoctoreditor.feature.group" version="0.0.0"/>
      <repository location="https://de-jcup.github.io/update-site-eclipse-asciidoctor-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.basheditor.feature.group" version="0.0.0"/>
      <repository location="https://de-jcup.github.io/update-site-eclipse-bash-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.batcheditor.feature.group" version="0.0.0"/>
      <repository location="https://de-jcup.github.io/update-site-eclipse-batch-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.jenkinseditor.feature.feature.group" version="0.0.0"/>
      <repository location="https://de-jcup.github.io/update-site-eclipse-jenkins-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.sqleditor.feature.group" version="0.0.0"/>
      <repository location="https://de-jcup.github.io/update-site-eclipse-sql-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="de.jcup.yamleditor.feature.group" version="0.0.0"/>
      <repository location="https://de-jcup.github.io/update-site-eclipse-yaml-editor/update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.moreunit.feature.feature.group" version="0.0.0"/>
      <unit id="org.moreunit.light.feature.feature.group" version="0.0.0"/>
      <unit id="org.moreunit.mock.feature.feature.group" version="0.0.0"/>
      <repository location="https://github.com/MoreUnit/MoreUnit-Eclipse/releases/latest/download/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="io.takari.m2e.lifecycle.feature.feature.group" version="0.0.0"/>
      <repository location="https://eclipseguru.github.io/io.takari.m2e.lifecycle/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.perforce.team.feature.feature.group" version="0.0.0"/>
      <unit id="com.perforce.team.folder.feature.feature.group" version="0.0.0"/>
      <unit id="com.perforce.team.java.galileo.feature.feature.group" version="0.0.0"/>
      <unit id="com.perforce.team.mergequest.feature.feature.group" version="0.0.0"/>
      <unit id="com.perforce.team.patch.feature.feature.group" version="0.0.0"/>
      <unit id="com.perforce.team.search.feature.feature.group" version="0.0.0"/>
      <repository location="https://eclipseguru.github.io/p4eclipse/"/>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="MavenDependencies">
    <feature id="com.salesforce.bazel.eclipse.dependencies.feature" label="Third-Party Dependencies used by the Bazel Eclipse Feature" provider-name="" version="2.0.0.qualifier">
    	<description url="http://www.example.com/description">
    		[Enter Feature Description here.]
    	</description>
    	<copyright url="http://www.example.com/copyright">
    		[Enter Copyright Description here.]
    	</copyright>
    	<license url="http://www.example.com/license">
    		[Enter License Description here.]
    	</license>
    </feature>
    <dependencies>
    	<dependency>
    		<groupId>com.github.ben-manes.caffeine</groupId>
    		<artifactId>caffeine</artifactId>
    		<version>3.1.8</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.github.ben-manes.caffeine</groupId>
    		<artifactId>guava</artifactId>
    		<version>3.1.8</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.google.protobuf</groupId>
    		<artifactId>protobuf-java</artifactId>
    		<version>3.22.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.googlecode.json-simple</groupId>
    		<artifactId>json-simple</artifactId>
    		<version>1.1.1</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.fusesource.jansi</groupId>
    		<artifactId>jansi</artifactId>
    		<version>2.4.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.google.code.findbugs</groupId>
    		<artifactId>jsr305</artifactId>
    		<version>3.0.2</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.google.auto.value</groupId>
    		<artifactId>auto-value</artifactId>
    		<version>1.10.1</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>com.google.auto.value</groupId>
    		<artifactId>auto-value-annotations</artifactId>
    		<version>1.10.1</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>jakarta.servlet</groupId>
    		<artifactId>jakarta.servlet-api</artifactId>
    		<version>5.0.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.apache.commons</groupId>
    		<artifactId>commons-configuration2</artifactId>
    		<version>2.9.0</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.apache.commons</groupId>
    		<artifactId>commons-text</artifactId>
    		<version>1.11.0</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
