<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.ui.importWizards">
       <category id="com.salesforce.bazel.eclipse.ui.import.category.bazel" name="Bazel"/>

        <wizard
             id="com.salesforce.bazel.eclipse.wizard.BazelImportWizard"
             class="com.salesforce.bazel.eclipse.ui.wizards.BazelImportWizard"
             icon="resources/import_bazel_workspace.gif"
             category="com.salesforce.bazel.eclipse.ui.import.category.bazel"
             name="Import Bazel Workspace">
        <description>Import an existing Bazel Workspace</description>
     </wizard>
    </extension>

    <extension
         point="org.eclipse.ui.preferencePages">
       <page
            class="com.salesforce.bazel.eclipse.ui.preferences.BazelPreferencePage"
            id="com.salesforce.bazel.eclipse.preferences"
            name="Bazel">
       </page>
    </extension>

    <extension
          point="org.eclipse.ui.commands">
       <category
             description="Bazel Eclipse Feature Commands"
             id="com.salesforce.bazel.eclipse.ui.commands.category"
             name="Bazel">
       </category>
       <command
             categoryId="com.salesforce.bazel.eclipse.ui.commands.category"
             defaultHandler="com.salesforce.bazel.eclipse.ui.commands.UpdateClasspathsHandler"
             description="Refresh Eclipse build path information from Bazel BUILD files"
             id="com.salesforce.bazel.eclipse.ui.commands.updateClasspaths"
             name="Update Classpaths">
       </command>
    </extension>

    <extension
          point="com.salesforce.bazel.eclipse.core.executor">
       <commandExecutor
             class="com.salesforce.bazel.eclipse.ui.execution.EclipseConsoleBazelCommandExecutor"
             priority="1000">
       </commandExecutor>
    </extension>

</plugin>
