<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
          point="com.salesforce.bazel.eclipse.core.executor">
       <commandExecutor
             class="com.salesforce.bazel.eclipse.ui.execution.EclipseConsoleBazelCommandExecutor"
             priority="1000">
       </commandExecutor>
    </extension>

    <extension
         point="org.eclipse.ui.preferencePages">
       <page
            class="com.salesforce.bazel.eclipse.ui.preferences.BazelPreferencePage"
            id="com.salesforce.bazel.eclipse.preferences"
            name="Bazel">
       </page>
    </extension>

    <extension point="org.eclipse.ui.importWizards">
       <category id="com.salesforce.bazel.eclipse.ui.import.category.bazel" name="Bazel"/>

        <wizard
             id="com.salesforce.bazel.eclipse.wizard.BazelImportWizard"
             class="com.salesforce.bazel.eclipse.ui.wizards.BazelImportWizard"
             icon="resources/import_bazel_workspace.gif"
             category="com.salesforce.bazel.eclipse.ui.import.category.bazel"
             name="Import Bazel Workspace">
        <description>Import an existing Bazel Workspace</description>
     </wizard>
    </extension>

    <extension
          point="org.eclipse.ui.commands">
       <category
             description="Bazel Eclipse Feature Commands"
             id="com.salesforce.bazel.eclipse.ui.commands.category"
             name="Bazel">
       </category>
       <command
             categoryId="com.salesforce.bazel.eclipse.ui.commands.category"
             defaultHandler="com.salesforce.bazel.eclipse.ui.commands.UpdateClasspathsHandler"
             description="Refresh project build path information from Bazel BUILD files."
             id="com.salesforce.bazel.eclipse.ui.commands.updateClasspaths"
             name="Update Bazel Classpaths">
       </command>
       <command
             categoryId="com.salesforce.bazel.eclipse.ui.commands.category"
             defaultHandler="com.salesforce.bazel.eclipse.ui.commands.SynchronizeProjectsHandler"
             description="Synchronize Eclipse project configurations from a Bazel workspace project view."
             id="com.salesforce.bazel.eclipse.ui.commands.syncWorkspace"
             name="Sync Bazel Project View">
       </command>
       <command
             categoryId="com.salesforce.bazel.eclipse.ui.commands.category"
             defaultHandler="com.salesforce.bazel.eclipse.ui.commands.SynchronizeAllWorkspacesHandler"
             description="Synchronize all Eclipse project configurations from a all Bazel workspace project views imported into Eclipse"
             id="com.salesforce.bazel.eclipse.ui.commands.syncAllWorkspaces"
             name="Sync Bazel Project Views">
       </command>
       <command
             categoryId="com.salesforce.bazel.eclipse.ui.commands.category"
             defaultHandler="com.salesforce.bazel.eclipse.ui.commands.classpath.AddCompileDependencyHandler"
             description="Searches for a Bazel target providing a Java type and adds it and its transitive dependencies to a BUILD.bazel file"
             id="com.salesforce.bazel.eclipse.ui.commands.classpath.addCompileDependency"
             name="Add Compile Dependency...">
       </command>
       <command
             categoryId="com.salesforce.bazel.eclipse.ui.commands.category"
             defaultHandler="com.salesforce.bazel.eclipse.ui.commands.DebugBazelExecutionHandler"
             description="Executes a few commands to print diagnose Bazel execution"
             id="com.salesforce.bazel.eclipse.ui.commands.debugBazelExecution"
             name="Diagnose Bazel Command Execution">
       </command>
    </extension>

    <extension
          point="org.eclipse.tm4e.registry.grammars">
       <grammar
             path="syntaxes/starlark.tmLanguage.json"
             scopeName="source.starlark">
       </grammar>
       <grammar
             path="syntaxes/bazel.tmLanguage.json"
             scopeName="source.bazel">
       </grammar>
       <grammar
             path="syntaxes/bazelrc.tmLanguage.json"
             scopeName="source.bazelrc">
       </grammar>
       <grammar
             path="syntaxes/bazelproject.tmLanguage.json"
             scopeName="source.bazelproject">
       </grammar>
       <scopeNameContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.starlark"
             scopeName="source.starlark">
       </scopeNameContentTypeBinding>
       <scopeNameContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.bazelrc"
             scopeName="source.bazelrc">
       </scopeNameContentTypeBinding>
       <scopeNameContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.bazel"
             scopeName="source.bazel">
       </scopeNameContentTypeBinding>
       <scopeNameContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.bazelproject"
             scopeName="source.bazelproject">
       </scopeNameContentTypeBinding>
    </extension>

    <extension
          point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
       <languageConfiguration
             contentTypeId="com.salesforce.bazel.eclipse.content.starlark"
             path="syntaxes/starlark.configuration.json">
       </languageConfiguration>
       <languageConfiguration
             contentTypeId="com.salesforce.bazel.eclipse.content.bazel"
             path="syntaxes/bazel.configuration.json">
       </languageConfiguration>
       <languageConfiguration
             contentTypeId="com.salesforce.bazel.eclipse.content.bazelrc"
             path="syntaxes/bazelrc.configuration.json">
       </languageConfiguration>
       <languageConfiguration
             contentTypeId="com.salesforce.bazel.eclipse.content.bazelproject"
             path="syntaxes/bazelproject.configuration.json">
       </languageConfiguration>
    </extension>

    <extension
          point="org.eclipse.ui.editors">
       <editorContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.starlark"
             editorId="org.eclipse.ui.genericeditor.GenericEditor">
       </editorContentTypeBinding>
       <editorContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.bazel"
             editorId="org.eclipse.ui.genericeditor.GenericEditor">
       </editorContentTypeBinding>
       <editorContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.bazelrc"
             editorId="org.eclipse.ui.genericeditor.GenericEditor">
       </editorContentTypeBinding>
       <editorContentTypeBinding
             contentTypeId="com.salesforce.bazel.eclipse.content.bazelproject"
             editorId="org.eclipse.ui.genericeditor.GenericEditor">
       </editorContentTypeBinding>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any">
          <menu
                icon="resources/bazelicon.gif"
                id="com.salesforce.bazel.eclipse.ui.tools"
                label="Bazel">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="com.salesforce.bazel.eclipse.ui.isBuildOrWorkspaceFile">
                </reference>
             </visibleWhen>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:com.salesforce.bazel.eclipse.ui.tools">
          <command
                commandId="com.salesforce.bazel.eclipse.ui.commands.syncWorkspace"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="com.salesforce.bazel.eclipse.ui.isBuildOrWorkspaceFile">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="com.salesforce.bazel.eclipse.ui.commands.updateClasspaths"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="com.salesforce.bazel.eclipse.ui.isBuildOrWorkspaceFile">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="com.salesforce.bazel.eclipse.ui.commands.classpath.addCompileDependency"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="com.salesforce.bazel.eclipse.ui.isBuildOrWorkspaceFile">
                </reference>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.ui.main.toolbar">
          <toolbar
                id="com.salesforce.bazel.eclipse.ui.toolbar"
                label="Bazel">
             <command
                   commandId="com.salesforce.bazel.eclipse.ui.commands.syncAllWorkspaces"
                   icon="resources/logo.png"
                   style="push">
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.core.expressions.definitions">
       <definition
             id="com.salesforce.bazel.eclipse.ui.isBuildOrWorkspaceFile">
          <iterate
                ifEmpty="false"
                operator="and">
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="com.salesforce.bazel.eclipse.core.bazelnature">
                </test>
             </adapt>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IProject">
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                </adapt>
                <test
                      property="org.eclipse.core.resources.name"
                      value="BUILD">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="BUILD.bazel">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="WORKSPACE">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="WORKSPACE.bazel">
                </test>
                <test
                      property="org.eclipse.core.resources.name"
                      value="MODULE.bazel">
                </test>
             </or>
          </iterate>
       </definition>
    </extension>
    <extension
          point="org.eclipse.jdt.ui.quickFixProcessors">
       <quickFixProcessor
             class="com.salesforce.bazel.eclipse.ui.jdt.BazelQuickFixProcessor"
             id="com.salesforce.bazel.eclipse.ui.jdt.quickFixProcessor"
             name="Bazel Quick Fixes">
       </quickFixProcessor>
    </extension>
</plugin>
