<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         id="importers"
         point="org.eclipse.jdt.ls.core.importers">
         <importer
            id = "bazelProjectImporter"
            order ="200"
            class = "com.salesforce.bazel.eclipse.jdtls.managers.BazelProjectImporter"/>
   </extension>
   <extension
   		 id="buildSupporter"
         point="org.eclipse.jdt.ls.core.buildSupport">
         <buildSupport
         	id="bazelSupport"
         	order="200"
         	class="com.salesforce.bazel.eclipse.jdtls.managers.BazelBuildSupport" />
   </extension>
   <extension
         point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler
            class="com.salesforce.bazel.eclipse.jdtls.commands.BazelJdtLsDelegateCommandHandler"
            name="Bazel JDT LS Commands">
         <command
               id="java.bazel.syncProjects">
         </command>
         <command
               id="java.bazel.updateClasspaths">
         </command>
         <command
               id="java.bazel.connectProcessStreamSocket">
         </command>
      </delegateCommandHandler>
   </extension>
   <extension
         point="com.salesforce.bazel.eclipse.core.executor">
      <commandExecutor
            class="com.salesforce.bazel.eclipse.jdtls.execution.StreamingSocketBazelCommandExecutor"
            priority="800">
      </commandExecutor>
   </extension>
</plugin>
