name: Matrix Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 11 * * *"
  repository_dispatch:
  # manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - displayTargetName: ubuntu
            os: ubuntu-latest
          - displayTargetName: macos
            os: macos-latest
          - displayTargetName: windows
            os: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get Time for BUILD_ID
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          format: "YYYYMMDD_HHmm"

      - name: Get Branch name for BUILD_LABEL
        id: branch_name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Setup Bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Import IntelliJ Aspects
        working-directory: ./bundles/com.salesforce.bazel.sdk/aspects/import
        run: ./import-and-build.sh

      - name: Build and Test
        env:
          BUILD_ID: "${{ steps.time.outputs.time }}"
          BUILD_TYPE: "S"
          BUILD_LABEL: "CI ${{ steps.time.outputs.time }} (${{ steps.branch_name.outputs.branch }})"
        run: ./mvnw --batch-mode clean verify
